dialog {
    width: clamp(0px, 100%, 37.1875rem);
    padding: 2.5rem;
    border: none;
    border-radius: .625rem;
    overflow-x: hidden;
    h2 {
        margin-top: 1rem;
        font-size: 2.5rem;
    }
    > p {
        margin-top: .3125rem;
    }
    .cart {
        &_list {
            &_wrapper {
                margin-top: 2.5rem;
                padding: .5rem 25px;
                background: hsl(26, 54%, 97%);
                border-radius: .625rem;
            }
        }
        &_item {
            padding: 1rem 0;
            font-size: .875rem;
            font-weight: 600;
            border-bottom: 1px solid hsl(13, 31%, 94%);
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            &_thumbnail_wrapper {
                width: 3rem;
                aspect-ratio: 1;
                border-radius: .3125rem;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_description {
                min-width: 15.625rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
            &_name {
                color: hsl(14, 65%, 9%);
            }
            &_quantity {
                color: hsl(14, 86%, 42%);
            }
            &_price {
                color: hsl(12, 20%, 44%);
                margin-left: 1rem;
            }
            &_price_total {
                margin-left: auto;
                color: hsl(14, 65%, 9%);
                font-size: 1rem;
            }
        }
        &_order_total {
            padding: 1.5rem 0;
            font-size: .875rem;
            text-transform: capitalize;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
    .new_order_btn {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem 0;
        background: hsl(14, 86%, 42%);
        color: hsl(0, 0%, 100%);
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        border-radius: 6.25rem;
    }
    &::backdrop {
        background: rgba(0, 0, 0, .7);
    }
}