.cart_section {
    width: clamp(0px, 100%, 24.375rem);
    padding: 1.5rem;
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    position: fixed;
    h2 {
        color: hsl(14, 86%, 42%);
    }
}

.cart {
    &_list {
        margin-top: .5rem;
        font-size: .875rem;
        max-height: 15.625rem;
        overflow-y: auto;
        &_empty {
            margin: 2.25rem 0 1rem;
            text-align: center;
            p {
                margin-top: .75rem;
                color: hsl(12, 20%, 44%);
                font-size: .875rem;
                font-weight: 600;
            }
        }
    }
    &_item {
        display: block;
        padding: 1rem 0;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid hsl(13, 31%, 94%);
        &_details {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            > div {
                display: flex;
                gap: .5rem;
            }
        }
        &_quantity {
            color: hsl(14, 86%, 42%);
        }
        &_price {
            color: hsl(14, 25%, 72%);
            margin-left: .5rem;
        }
        &_remove_btn {
            width: 1.125rem;
            aspect-ratio: 1;
            margin-right: .75rem;
            border: 1px solid hsl(14, 25%, 72%);
            border-radius: 50%;
            display: grid;
            place-content: center;
            &:hover {
                border-color: hsl(14, 65%, 9%);
                svg path {
                    fill: hsl(14, 65%, 9%);
                }
            }
        }
    }
}

.cart {
    &_order_total {
        padding: 1.5rem 0;
        font-size: .875rem;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    &_delivery_info {
        padding: 1rem 0;
        background: hsl(26, 54%, 97%);
        font-size: .875rem;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        gap: .5rem;
        span {
            font-weight: 600;
        }
    }
}

.confirm_order_btn {
    width: 100%;
    margin-top: 1.5625rem;
    padding: 1rem 0;
    background: hsl(14, 86%, 42%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6.25rem;
    text-transform: capitalize;
    &:hover {
        background: hsl(14, 85%, 32%);
    }
}

@media(max-width: 43.75rem) {
    .cart_section {
        width: 100%;
        position: static;
    }
}