// FVCKING COLORS
$red: hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);

$rose50: hsl(20, 50%, 98%);
$rose100: hsl(13, 31%, 94%);
$rose300: hsl(14, 25%, 72%);
$rose400: hsl(7, 20%, 60%);
$rose500: hsl(12, 20%, 44%);
$rose900: hsl(14, 65%, 9%);

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
}

::-webkit-scrollbar {
    width: .5rem;
  }
  
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(14, 86%, 42%);
    border-radius: 6.25rem;
}

body {
    margin: 0;
    background: hsl(20, 50%, 98%);
    color: hsl(14, 65%, 9%);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

:is(h1, h2) {
    text-transform: capitalize;
}

:is(h1, h2, p) {
    margin: 0;
}

button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}